<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Página no encontrada'}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        
        <!---------------------------- CATEGORIAS DE PRODUCTOS ---------------------------->
        <section class="paginaNotFound">
            <div>
                <div class="pagintaNotFoundTablet">
                <h1 class="not-found" id="not-found"><%= especificacion %> que estás buscando :(</h1>
                <img src="/img/inicio-logo-banner/totoro404.jpg" alt="" class="totoro-not-found-tablet">
            </div>
            <h2 class="not-found not-found-font">Te recomendamos probar con alguna de las siguientes secciones</h2>
            <!-- EN LUGAR DE CATEGORIAS EN GENERAL TOMAMOS SUBDIVISIONES DE LOS PRODUCTOS -->
            <ul class="categoriasDelFooter1" id="categoriasDelFooter1">
                <a href="/products/category/1">
                    <li>MANGAS</li>
                </a>
                <a href="/products/category/5">
                    <li>TAZAS</li>
                </a>
                <a href="/products/category/4">
                    <li>FIGURAS</li>
                </a>
                <a href="/products/category/3">
                    <li>POSTERS</li>
                </a>
                <a href="/products/category/6">
                    <li>LLAVEROS</li>
                </a>
            </ul>
            </div>
            <div>
                <img src="/img/inicio-logo-banner/totoro404.jpg" alt="" class="totoro-not-found">
            </div>
        </section>



    </main>

    <script src="/js/script.js"></script>
</body>

</html>