<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class="carrito">
                <div class="card-carrito">
                    <h4 class="card-carrito-titulo">Carrito de compras</h4>
                    <div class = "card-carrito_empty">
                        <p>Tu carrito de compras está vacío</p>
                    <p>Ve a los productos de la tienda para agregarlos</p>
                    </div>
                    <div class="card-carrito">
                        <div class="card-carrito-producto">
                            <img class="imagen" src="/img/luffy-boundman-5.jpg" alt="imagen pieza anime">
                            <div class="card-carrito-producto-info">
                                <p class="producto-info-title">Boundman</p>
                                <p class="producto-info-description">Figura coleccionable 30cm</p>
                            </div>
                            <div class="card-carrito-info-botton_add_delete">
                                <button class="carrito-button-items"><i class="fa-solid fa-circle-minus"></i></button>
                                <p>5</p>
                                <button class="carrito-button-items"><i class="fa-solid fa-circle-plus"></i></button>
                            </div>
                            <div class="card-carrito-producto-info-precio">
                                <p>$5.000,00</p>
                            </div>
                        </div>
                        <div class="card-carrito-producto">
                            <img class="imagen" src="/img/yamato.jpg" alt="imagen pieza anime">
                            <div class="card-carrito-producto-info">
                                <p class="producto-info-title">Yamato</p>
                                <p class="producto-info-description">Figura coleccionable 15cm</p>
                            </div>
                            <div class="card-carrito-info-botton_add_delete">
                                <button class="carrito-button-items"><i class="fa-solid fa-circle-minus"></i></button>
                                <p>1</p>
                                <button class="carrito-button-items"><i class="fa-solid fa-circle-plus"></i></button>
                            </div>
                            <div class="card-carrito-producto-info-precio">
                                <p>$3.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carrito-buttons">
                <button type="submit" class="botonAgregar botonVaciar">Vaciar Carrito</button>
                <button type="submit" class="botonAgregar botonComprar">Comprar</button>
            </div>
        </main>
        <%- include('../partials/footer') %>
        
        <script src="/js/script.js"></script>
    </body>
</html>