<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <title>Otaku Sekai</title>
        <link rel="icon" type="image/x-icon" href="/img/totoro.png">
    </head>
    <body>
        <header>
            <div class="main_header">
                <div class="main_header-top-bar">
                    <img class=logo src="/img/logo.png" alt="Logo de Otaku sekai">
                    <form action="search" method="POST" class="search-form">
                        <input type="text" name="data-search" placeholder="Buscar productos, marcas y más" class="buscador">
                        <button type="submit" class="lupa-img"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <nav class="main_header-botton-bar">
                    <div class = "menu">
                        <ul>
                            <li><a href="/">Home</a></il>
                            <li><a href="/register">Creá tu cuenta <i class="fas fa-solid fa-address-card"></i></a></li>
                            <li><a href="/login">Ingresá <i class="fas fa-solid fa-arrow-right-to-bracket"></i></a></li>
                            <li><a href="/productCart">Mis compras <i class="fas fa-regular fa-bag-shopping"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <p>Hola Mundo, estamos en el index</p>
        </main>
        <footer class="footer">
                <section class="copyright">
                    <p>Copyright © 2022 Otaku Sekai S.R.L.</p>
                </section> 
            </div>
            
        </footer>
    </body>
</html>