<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">
        <title>Otaku Sekai</title>
    </head>
    <body>
        <header>
            <div class="main_header">
                <div class="main_header-top-bar">
                    <img class=logo src="/img/logo.png" alt="Logo de Otaku sekai">
                    <select name="categoriesDropDown" id="categorie">
                        <option value="figuras">Figuras</option>
                        <option value="comics">Mangas/Comics</option>
                        <option value="indumentaria">Indumentaria</option>
                        <option value="tazas">Tazas</option>
                        <option value="pines">Pines</option>
                      </select>
                    <img class="lupa">
                    <img class="email"><i class="fav fa-solid fa-envelope"></i>
                </div>
                <nav class="main_header-botton-bar">
                    <div class = "menu">
                        <ul>
                            <li><a href="/">Home</a></il>
                            <li><a href="/register">Creá tu cuenta <i class="fas fa-solid fa-address-card"></i></a></li>
                            <li><a href="/login">Ingresá <i class="fas fa-solid fa-arrow-right-to-bracket"></i></a></li>
                            <li><a href="/productCart">Mis compras <i class="fas fa-regular fa-bag-shopping"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <form action="" method="POST" class="create-form">
            <div class="control-formulario">
                <input type="text" name="user" placeholder="Nombre de usuario" class="control" required>
                <input type="password" id="password" name="password" class="control" placeholder="Contraseña" required>
                <button type="submit" class="boton-formulario">Iniciar Sesión</button>
                <p></p>
            </div>
        </form>
        <footer class="footer">
                <section class="copyright">
                    <p>Copyright © 2022 Otaku Sekai S.R.L.</p>
                </section> 
            </div>
            
        </footer>
    </body>
</html>