<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/cart_styles.css" rel="stylesheet">
    <link href="/css/detail_styles.css" rel="stylesheet">
    <link href="/css/formularios_styles.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles-Pdetail.css" rel="stylesheet">
    <title>Otaku Sekai - Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/totoro.png">
</head>

<body>
    <header>
        <a href="/" class="logo"><img src="/img/logoAcortado.png" alt="Logo Otaku Sekai"></a> <!-- Poner link home -->
        <nav class="navbar">
            <!-- Barra de navegación (oculta para Mobile) -->
            <a href="/">
                <li>Home</li>
            </a>
            <a href="#">
                <li>Quienes somos</li>
            </a>
            <a href="/productVerMas" class="linkProductos">
                <li>Productos <i class="fa fa-caret-down"></i></li>
            </a>
            <ul class="categoriasDeProductos">
                <!-- Ocultar en las tres vistas. Visible para hover en Productos -->
                <li>Tazas, llaveros, pins, aros</li>
                <li>Indumentaria y accesorios</li>
                <li>Figuras</li>
                <li>Pósters y cuadros</li>
                <li>Mangas y comics</li>
            </ul>
            <a href="#" class="linkAnime">
                <li>Anime <i class="fa fa-caret-down"></i></li>
            </a>
            <ul class="categoriasDeAnime">
                <!-- Ocultar en las tres vistas. Visible para hover en Anime -->
                <li>One Piece</li>
                <li>Dragon Ball Z</li>
                <li>Naruto</li>
                <li>Demon Slayer: Kimetsu no Yaiba</li>
                <li>Shingeky no Kyojim</li>
                <li>Jujutsu Kaisen</li>
                <li>Ranking of Kings</li>
                <li>Soul Eater</li>
                <li>Pokemon</li>
                <li>Boku No Hero Academia</li>
                <li>Digimon</li>
                <li>One Punch Man</li>
                <li>HxH</li>
                <li>Shamang King</li>
            </ul>
            <a href="#">
                <li>Preguntas frecuentes</li>
            </a>
        </nav>

        <select name="" id="opcionElegida">
            <!-- Categorias con menu en forma desplegable -->
            <option value="todasLasCategorias">Todas las categorías</option>
            <option value="home">Home</option>
            <option value="quienesSomos">Quienes Somos</option>
            <option value="productos">Productos</option>
            <option value="anime">Anime</option>
            <option value="preguntasFrecuentes">Preguntas Frecuentes</option>
        </select>

        <div class="iconosHeader">
            <!-- Aca van los tres iconos del header: lupa, contacto, carrito -->
            <form class="buscador">
                <input type="text" placeholder="Buscar productos, anime, etc." class="barraDeBusqueda">
                <i class="fa-solid fa-magnifying-glass emojis2"></i> <!-- Lupa de búsqueda -->
            </form>
            <a href="/login"><i class="fa-solid fa-user"></i></a>
            <!--Login-->
            <i class="fa-solid fa-envelope"></i> <!-- Contacto -->
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a> <!-- Carrito de compras -->
        </div>

    </header>



    <main>

        <!----------------------------  ---------------------------->

        <div class="caracteristicasVentas">
            <h3>Objetos populares</h3>
            <h3>Envíos gratis</h3>
            <h3>Pagos sin interés</h3>
        </div>

        <!---------------------------- CARRUSEL DE PRODUCTOS ---------------------------->
        <!--------- VER COMO HACER PARA QUE EN MOBILE APAREZCAN DOS PRODUCTOS Y EN DESKTOP SE VEAN 4 --------->
        <!-- contenerdor carrusel -->
        <div class="carruselAnimado">
            <figure class="icon-cards mt-3">
                <div class="icon-cards__content">
                    <div class="icon-cards__item d-flex align-items-center justify-content-center">
                        <img src="/img/imageTest.jpg" alt="">
                        <h4>Detalle del Producto 1</h4>
                    </div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center">
                        <img src="/img/imageTest.jpg" alt="">
                        <h4>Detalle del Producto 2</h4>
                    </div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center">
                        <img src="/img/imageTest.jpg" alt="">
                        <h4>Detalle del Producto 3</h4>
                    </div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center">
                        <img src="/img/imageTest.jpg" alt="">
                        <h4>Detalle del Producto 4</h4>
                    </div>
                    <div class="icon-cards__item d-flex align-items-center justify-content-center">
                        <img src="/img/imageTest.jpg" alt="">
                        <h4>Detalle del Producto 5</h4>
                    </div>
                </div>
            </figure>
        </div>
        <!---------------------------- FIN DEL CARRUSEL DE PRODUCTOS ---------------------------->


        <!---------------------------- PRODUCTOS EN OFERTA ---------------------------->
        <section>
            <h2 class="subtitulos">Productos en oferta</h2>

            <!-- BUSCAR IMAGENES CUADRADAS O VERTICALES PARA PONER COMO PRODUCTOS -->

            <div class="cajaConProductosEnOferta">
                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 1</h4>
                        <p class="porcentajeDescuento">- 00% off</p>
                        <p class="precioAnterior">$ 000</p>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 2</h4>
                        <p class="porcentajeDescuento">- 00% off</p>
                        <p class="precioAnterior">$ 000</p>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 3</h4>
                        <p class="porcentajeDescuento">- 00% off</p>
                        <p class="precioAnterior">$ 000</p>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 4</h4>
                        <p class="porcentajeDescuento">- 00% off</p>
                        <p class="precioAnterior">$ 000</p>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <h2 class="subtitulos">Todos nuestros productos</h2>

            <!-- BUSCAR IMAGENES CUADRADAS O VERTICALES PARA PONER COMO PRODUCTOS -->

            <div class="cajaConProductosEnOferta">
                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 1</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 2</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 3</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 4</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 5</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 6</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 7</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 8</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 9</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 10</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 11</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>

                <div class="productosEnOferta">
                    <a href="/productDetail"> <img src="/img/imageTest.jpg" alt=""></a>
                    <!-- Link a la página del producto -->
                    <div>
                        <h4>Producto 12</h4>
                        <p class="precioActual">$ 000</p>
                        <a href="/productCartFull" id="linkBotonAgregar"><button onclick="" class="botonAgregar">Agregar al carrito</button></a>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <footer>

        <ul class="categoriasDelFooter1">
            <a href="#">
                <li>Home</li>
            </a>
            <a href="#">
                <li>Quienes somos</li>
            </a>
            <a href="/productVerMas">
                <li>Productos</li>
            </a>
            <a href="#">
                <li>Anime</li>
            </a>
            <a href="#">
                <li>Preguntas frecuentes</li>
            </a>
        </ul>


        <section class="finalDelFooter">
            <section class="iconosRedesSocialesFooter">
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </section>

            <section class="detalleDelFooter">
                <a href="/"><img src="/img/logo.png" alt="Logo Otaku Sekai" class="logoDelFooter"></a>
                <!-- Poner link home -->
                <ul class="categoriasDelFooter2">
                    <!------------ Ocultar para Mobile ------------>
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>Quienes somos</li>
                    </a>
                    <a href="/productDetail" class="linkProductos">
                        <li>Productos</li>
                    </a>
                    <a href="#" class="linkAnime">
                        <li>Anime</li>
                    </a>
                    <a href="#">
                        <li>Preguntas frecuentes</li>
                    </a>
                </ul>
                <ul class="detalleFooterul">
                    <li>Calle Falsa 123</li>
                    <li>+54 9 11 12345678</li>
                    <li>Lunes a Viernes: 10 a 20 hs</li>
                    <li>Sábados: 10 a 14 hs</li>
                </ul>
            </section>

            <section class="copyright">
                <p>Copyright © 2022 Otaku Sekai S.R.L.</p>
            </section>

        </section>

        </div>

    </footer>


    <script src="/js/script.js"></script>
</body>

</html>