.create-form{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 80%;
    flex-direction: column;
    border: #E5E1EE 1px solid;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    
}

.create-form-titulo{
    border-bottom: 1px solid #D2C3FA;
    text-align: left;
    margin: revert;
}

.control-formulario-campos{
    justify-content: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.control{
    margin: 5px;
    text-align: inherit;
    border: 2px #D4D9E0 solid;
    border-radius: 5px;
    color: #D4D9E0;
}

.control-formulario-redes_sociales{
    justify-content: center;
    width: 80%;
}

.control-formulario-boton{
    background-color: #003F91;
    color: white;
    text-align: center;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: #003F91;

}

.control-formulario-boton:hover{
    background-color: #90BEDE;
    border-color: #90BEDE;
}