:root {
    --gris: #E5E1EE;
    --celeste: #DFFDFF;
    --azulClaro: #90BEDE;
    --azul: #003F91;
    --violeta: #C090DE;
}

.create-form{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 80%;
    flex-direction: column;
    border: #E5E1EE 1px solid;
    background-color: white;
    margin: auto;
    margin-top: 30px;
}

.create-form-titulo{
    border-bottom: 1px solid #D2C3FA;
    text-align: left;
    margin: revert;
    font-size: 18px;
}

.control{
    text-align: inherit;
    color: var(--azul);
    border: 2px solid;
    border-radius: 4px;
    width: 50%;
    display: block;
    margin: 10px auto;
    margin-bottom: 1px;
    padding: 0.5rem;
}

.controlInvalid{
    text-align: inherit;
    color: var(--azul);
    border: 2px solid;
    border-radius: 4px;
    width: 50%;
    display: block;
    margin: 10px auto;
    margin-bottom: 1px;
    font-size: 1rem;
    padding: 0.5rem;
    border-color: red;
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")no-repeat 95% 50%; 
}

.controlInvalid:focus {
    border-color: red;
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
  }


.control select{
    margin-top: 10px; 
    border: 2px solid;
    border-radius: 4px;
    width: 50%;
    display: block;
    margin: 10px auto;
    margin-bottom: 1px;
    font-size: 1rem;
    padding: 0.5rem;
    transition: border-color 0.5s ease-out;
    
}

.control-formulario-campos{
    justify-content: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.text-danger{
    color: red;
    font-style: italic;
    font-size: 14px;
    visibility: visible;    
}

.control-formulario-campos label{
    color: var(--azul);
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
}

#aceptoTerminosyCondiciones{
    display: inline;
}

#aceptoTerminos{
    margin: 0px;
    display: inline;
    width: auto;
}




.control-formulario-registro p{
    color: var(--azul);
    font-weight: bolder;
    font-size: 16px;
}

.control-formulario-redes_sociales{
    justify-content: center;
    width: 80%;
}
.control-formulario-redes_sociales a{
    margin: 5px;
}
.control-formulario-redes_sociales i{
    font-size: 18px;
}
.fa-google{
    color: var(--azul);
}
.botonLogin{
    width: 30%;
    margin: 10px ;
}


.erroresValidacion{
    color: red;
    font-weight: 900;
}


/* ------------------- CSS PARA VALIDACIONES FRONT END CON JS ------------------- */

.userAdd{
    display: none;
  }

  .validationUserAdd{
    display: block;
    color: #842029;
    background-color: #F8D7DA;
  }

  .is-valid {
    color: #198754;
  }
  
  .is-invalid {
    color: #842029;
  }
  
  .alert-warning{
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
    border-bottom: 5px;
  }
  
  .alert-complete{
    color:#2a8d03;
    background-color: #bbfca6;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 5px;
  }


/*  Con esto manejo los estilos de los imput en los form*/


 /* input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
  }
  input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
  }*/

