

.pFrecuentes-main{
	width: 90%;
	margin-left: 5%;
}

.pFrecuentes-flex{
	display: flex;
	align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.pFrecuentes-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	width: 70%;
}

.pFrecuentes-pic{
	display: block;
	width: 100%;
}

@media (max-width: 461px) {
	.pFrecuentes-picContainer{
		display: none;
	}
}

.pFrecuentes-picContainer{
	width: 30%;
}



/* contenedor de preguntas */
.contenedor-preguntas {
	display: none;
	grid-template-columns: 1fr;
	gap: 10px;
}

.contenedor-preguntas.activo {
	display: grid;
}

.contenedor-pregunta {
	background: white;
	padding: 1px;
	border: 2px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	transition: .3s ease all;
	cursor: pointer;
	border: #003F91 1px solid;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.contenedor-pregunta:hover {
	box-shadow: var(--sombra);
}

.contenedor-pregunta.activa {
	border: 2px solid var(--primario);
}

/* Desde aca las preguntas */

.pregunta {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #003F91;
	margin: 0;
	padding: 10px;
	font-weight: bold;
}

.pregunta img {
	width: 14px;
}

.respuesta {
	color: black;
	font-size: 18px;
	line-height: 30px;
	max-height: 0;
	opacity: 0;
	transition: .3s ease all;
	font-weight: bold;
}

.contenedor-pregunta.activa {
	background-color: #DFFDFF;
	border: #90BEDE 1px solid;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.contenedor-pregunta.activa .respuesta {
	opacity: 1;
	margin-top: 5px;
}

.contenedor-pregunta.activa img {
	transform: rotate(45deg);
}

/*! =================================================*/
/*! ============= Responsive Design ============= */
/*! =================================================*/
@media screen and (max-width: 820px){
	.categorias {
		grid-template-columns: 1fr 1fr;
	}

	.categoria {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
	}

	.categoria svg {
		width: 30px;
		margin-right: 10px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 500px){
	.categorias {
		grid-template-columns: 1fr;
	}
}