<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Sitio en construcción'}) %>

<body>
    <%- include('../partials/header') %>
    
    <main class="pFrecuentes-main">

        <!---------------------------- CATEGORIAS DE PRODUCTOS ---------------------------->
        <h1 class="not-found" id="quienes-somos">Preguntas frecuentes</h1>
        <section class="pFrecuentes-section">
            
            <div class="preguntas">

                <!-- Preguntas Metodos de pago -->
                <div class="contenedor-preguntas activo" data-categoria="metodos-pago">

                    <div class="contenedor-pregunta">
                        <p class="pregunta">¿Cómo puedo pagar? <img src="./img/suma.svg" alt="Abrir Respuesta" /></p>
                        <p class="respuesta">Puedes hacerlo mediante tarjeta de crédito, PayPal, Bizum o Transferencia bancaria. Si eres de Latinoamérica paga con tu tarjeta a través de PayPal.</p>
                    </div>

                    <div class="contenedor-pregunta">
                        <p class="pregunta">Tiempo de envío <img src="./img/suma.svg" alt="Abrir Respuesta" /></p>
                        <p class="respuesta">En general entre 10 y 15 días laborables. En nuestra tienda hay diferentes tipos de productos, por lo que el tiempo es variable.

                            También en España ofrecemos productos de primeras marcas como Banpresto, Bandai, Funko o Tamashii Nations con envío en 48 horas.
                            
                            Pincha en la pestaña de información adicional para saber el tiempo concreto de ese producto. Más información en la política de envíos que puedes encontrar en la parte inferior de la web.</p>
                    </div>


                    <div class="contenedor-pregunta">
                        <p class="pregunta">¿Cómo funcionan las devoluciones? <img src="./img/suma.svg" alt="Abrir Respuesta" /></p>
                        <p class="respuesta">Tienes la opción de devolver el producto 15 días después de su recepción si está en perfecto estado y cumple nuestra política de compras que encontrarás en la parte inferior de la web.</p>
                    </div>


                    <div class="contenedor-pregunta">
                        <p class="pregunta">¿Cómo funcionan las devoluciones? <img src="./img/suma.svg" alt="Abrir Respuesta" /></p>
                        <p class="respuesta">Tienes la opción de devolver el producto 15 días después de su recepción si está en perfecto estado y cumple nuestra política de compras que encontrarás en la parte inferior de la web.</p>
                    </div>

                    <div class="contenedor-pregunta">
                        <p class="pregunta">¿Cómo funcionan las devoluciones? <img src="./img/suma.svg" alt="Abrir Respuesta" /></p>
                        <p class="respuesta">Tienes la opción de devolver el producto 15 días después de su recepción si está en perfecto estado y cumple nuestra política de compras que encontrarás en la parte inferior de la web.</p>
                    </div>

                </div>
            </div>
            
        </section>

        <div class="pFrecuentes-picContainer">
            <img src="/img/preguntasFrecuentesPic.png" alt="" class="pFrecuentes-pic">
        </div>

    </main>

    <%- include('../partials/footer') %>

    <script src="/js/pFrecuentes.js"></script>
</body>

</html>