<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Sitio en construcción'}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        
        <!---------------------------- CATEGORIAS DE PRODUCTOS ---------------------------->
        <section class="paginaNotFound">
            <div>
                <div class="pagintaNotFoundTablet">
                <h1 class="not-found" id="not-found">Sitio en construcción...</h1>
                <img src="/img/inicio-logo-banner/totoro404.png" alt="" class="totoro-not-found-tablet">
            </div>
            <h2 class="not-found-font">Te recomendamos probar con alguna de las siguientes secciones</h2>
            <!-- EN LUGAR DE CATEGORIAS EN GENERAL TOMAMOS SUBDIVISIONES DE LOS PRODUCTOS -->
            <ul class="categoriasDelFooter1" id="categoriasDelFooter1">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/quienesSomos">
                    <li>Quienes somos</li>
                </a>
                <a href="/products">
                    <li>Productos</li>
                </a>
                <a href="/products">
                    <li>Anime</li>
                </a>
                <a href="/sitioEnConstruccion">
                    <li>Preguntas frecuentes</li>
                </a>
            </ul>
            </div>
            <div>
                <img src="/img/inicio-logo-banner/totoroSitioConstruccion.png" alt="" class="totoro-not-found">
            </div>
        </section>



    </main>

    <%- include('../partials/footer') %>
    <script src="/js/script.js"></script>
</body>

</html>