<header>
  <a href="/" class="logo"><img src="/img/logoAcortado.png" alt="Logo Otaku Sekai"></a> <!-- Poner link home -->
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/quienesSomos">Quienes somos</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="location.href='/products'">Productos
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/products/category/1">Mangas</a>
        <a href="/products/category/2">Indumentarias</a>
        <a href="/products/category/3">Posters</a>
        <a href="/products/category/4">Figuras</a>
        <a href="/products/category/5">Tazas</a>
        <a href="/products/category/6">Llaveros</a>
        <a href="/products/category/7">Otros</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="location.href='/products'">Anime
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/products/anime/1">Dragon ball Z</a>
        <a href="/products/anime/2">Naruto</a>
        <a href="/products/anime/3">Evangelion</a>
        <a href="/products/anime/4">Full Metal Alchemist</a>
        <a href="/products/anime/5">Tsukihime</a>
        <a href="/products/anime/6">Super Campeones</a>
        <a href="/products/anime/7">Pokemon</a>
        <a href="/products/anime/8">Princesa Mononoke</a>
        <a href="/products/anime/9">Los Alcones Galacticos</a>
        <a href="/products/anime/10">Mi Vecino Totoro</a>
        <a href="/products/anime/11">Supernatural</a>
        <a href="/products/anime/12">The Boys</a>
        <a href="/products/anime/13">Otros</a>
      </div>
    </div>
    <a href="/sitioEnConstruccion">Preguntas frecuentes</a>
  </div>

  <select name="" id="opcionElegida">
    <!-- Categorias con menu en forma desplegable -->
    <option value="todasLasCategorias">Todas las categorías</option>
    <option value="home">Home</option>
    <option value="quienesSomos">Quienes Somos</option>
    <option value="productos">Productos</option>
    <option value="anime">Anime</option>
    <option value="preguntasFrecuentes">Preguntas Frecuentes</option>
  </select>

  <div class="iconosHeader">
    <div class="barraBusquedaConLupaMasInput">
      <button onclick="busqueda()" class="botonLupa"><i class="fa-solid fa-magnifying-glass emojisLupa"></i></button><!-- Lupa de búsqueda -->
      <form class="buscador" id="barraDeBusqueda">
        <input type="text" placeholder="Buscar productos, anime, etc." class="barraDeBusqueda" > <!-- id="barraDeBusqueda" -->
        <button class="botonEditar botonBusqueda">Buscar</button>
      </form>
    </div>

    <div class="dropdown">
      <% if(locals.isLogged) {%>
        <button class="dropbtnUser" onclick="location.href='/users/logueado'">
          <img src="../<%-locals.usuario.avatar%> " class="imagenAvatar"></img>
        </button>
        <%} else {%>
          <button class="dropbtnUser" onclick="location.href='/users/login'">
            <img src="../../img/avatars/userDefault.jpg" class="imagenAvatar">
          </button>
          <% } %>


            <div class="dropdown-content">
              <% if(locals.isLogged) {%>
                <a href="/users/profile">Perfil</a>
                <a href="/users/logout">Log Out</a>
                <%} else {%>
                  <a href="/users/login">Login</a>
                  <a href="/users/register">Registro</a>
                  <% } %>

            </div>


    </div>
    <div class="divSaludoUser">
      <% if(locals.isLogged) {%>
        <p class="saludoUser">¡Hola, <%-locals.usuario.first_name%>!</p>

        <%} else {%>
          <p class="saludoUser">Iniciá sesión</p>
          <% } %>
    </div>
    <!--Login-->
    <a href="/products/cart" class="carritoCompras"><i class="fa-solid fa-cart-shopping"></i></a> <!-- Carrito de compras -->
  </div>

</header>