<header>
  <a href="/" class="logo"><img src="/img/logoAcortado.png" alt="Logo Otaku Sekai"></a> <!-- Poner link home -->
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/quienesSomos">Quienes somos</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="location.href='/products'">Productos
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="cambio">
        <a href="/products/category/1">Mangas</a>
        <a href="/products/category/2">Indumentarias</a>
        <a href="/products/category/3">Posters</a>
        <a href="/products/category/4">Figuras</a>
        <a href="/products/category/5">Tazas</a>
        <a href="/products/category/6">Llaveros</a>
        <a href="/products/category/7">Otros</a>
      </div>
    </div>
    <div class="dropdown">
      <!---------------------------  AGREGAR EL LINK A LA VISTA: PRODUCTVERMASANIME--------------------------->
      <button class="dropbtn" onclick="location.href='/products/productVerMasAnime'">Anime
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/products/anime/1">Dragon ball Z</a>
        <a href="/products/anime/2">Naruto</a>
        <a href="/products/anime/3">Jujutsu Kaisen</a>
        <a href="/products/anime/4">Boku No Hero</a>
        <a href="/products/anime/5">Pokemon</a>
        <a href="/products/anime/6">Demon Slayer</a>
        <a href="/products/anime/7">Mi Vecino Totoro</a>
        <a href="/products/anime/8">Supernatural</a>
        <a href="/products/anime/9">The Boys</a>
        <a href="/products/anime/10">Otros</a>
      </div>
    </div>
    <a href="/preguntasFrecuentes">Preguntas frecuentes</a>
  </div>

  <div class="dropdown-resp" id="opcionElegida">
    <button class="dropbtn-resp" onclick="menuDesplegable()">Menu
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content-resp" id="dropdown-content-resp">
      <a href="/">Home</a>
      <a href="/quienesSomos">Quienes Somos</a>
      <a href="/products">Productos</a>
      <a href="/products/productVerMasAnime">Anime</a>
      <a href="/preguntasFrecuentes">Preguntas Frecuentes</a>
    </div>
  </div>

<!--   <select name="" id="opcionElegida">
    <option value="todasLasCategorias">Todas las categorías</option>
    <option value="home" ><a href="/">Home</a></option>
    <option value="quienesSomos">Quienes Somos</option>
    <option value="productos">Productos</option>
    <option value="anime">Anime</option>
    <option value="preguntasFrecuentes">Preguntas Frecuentes</option>
  </select> -->

 

  <div class="iconosHeader">
    <div class="barraBusquedaConLupaMasInput">
      <button onclick="busqueda()" class="botonLupa"><i class="fa-solid fa-magnifying-glass emojisLupa"></i></button><!-- Lupa de búsqueda -->

      <form class="buscador" method="POST" id="barraDeBusqueda" action="/products/search/">

        <input type="search" placeholder="Buscar productos, anime, etc." class="barraDeBusqueda" name="value"> <!-- id="barraDeBusqueda" -->
        <button type="submit" class="botonEditar" id="btnLupa" >Buscar</button>

      </form>

    </div>

    <div class="dropdown">
      <% if(locals.isLogged) {%>
        <button class="dropbtnUser" onclick="location.href='/users/profile'">
          <img src="../<%-locals.usuario.avatar%> " class="imagenAvatar"></img>
        </button>
        <%} else {%>
          <button class="dropbtnUser" onclick="location.href='/users/login'">
            <img src="../../img/avatars/userDefault.jpg" class="imagenAvatar">
          </button>
          <% } %>


            <div class="dropdown-content">
              <% if(locals.isLogged) {%>
                <a href="/users/profile">Perfil</a>
                <a href="/users/logout">Log Out</a>
                <%} else {%>
                  <a href="/users/login">Login</a>
                  <a href="/users/register">Registro</a>
                  <% } %>

            </div>


    </div>
    <div class="divSaludoUser">
      <% if(locals.isLogged) {%>
        <p class="saludoUser">¡Hola, <%-locals.usuario.first_name%>!</p>

        <%} else {%>
          <p class="saludoUser">Iniciá sesión</p>
          <% } %>
    </div>
    <!--Login-->
    <a href="/products/cart" class="carritoCompras"><i class="fa-solid fa-cart-shopping"></i></a> <!-- Carrito de compras -->
  </div>

  <script src="/js/script.js"></script>

</header>