<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
    <%- include('../partials/head',  {title: 'registro'}) %>

=======
    <%- include('../partials/head', {title: 'Registro'}) %>
>>>>>>> cd5c492112b1bc0fa146c464c825aac610c6905c
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="" method="POST" class="create-form">
            <div class="control-formulario-campos">
                <h4 class="create-form-titulo">Registrate en nuestra página</h4>
                <label>Usuario: <input type="text" name="user" placeholder="Ingresá un nombre de usuario" class="control" required></label>
                <label>Email: <input type="email" name="email" placeholder="ejemplo1234@mail.com" class="control"
                        required></label>
                <label>Contraseña: <input type="password" id="password" name="password" class="control"
                        placeholder="Ingresá tu contraseña" required></label>
                <label>Repite contraseña: <input type="password" id="password-validacion" name="password-validacion"
                        class="control" placeholder="Reingresá tu contraseña" required></label>
                <label for="aceptoTerminos" id="aceptoTerminosyCondiciones"><input type="checkbox" id="aceptoTerminos"> Acepto Términos y Condiciones</label>
            </div>
            <button type="submit" class="botonAgregar botonLogin" onclick="location.href='/'">Registrate</button>

            <div class="control-formulario-redes_sociales">
                <h4 class="create-form-titulo">Ingresa con</h4>
                <a><i class="fav fa-brands fa-facebook"></i></a>
                <a><i class="fav fa-brands fa-instagram-square"></i></a>
                <a><i class="fav fa-brands fa-google"></i></a>
            </div>
            <div class="control-formulario-registro">
                <p>¿Ya tenes cuenta?</p>
                
            </div>
            <button type="submit" class="botonAgregar botonLogin" onclick="location.href='/users/login'">Inicia
                Sesión</button>
        </form>
    </main>
    <%- include('../partials/footer') %>

</body>

</html>